* {
    background-color: #3c3c3c;
    font-family: monospace, sans-serif;
    color: #f5f5f5;
}

h1,
h2 {
    text-align: center;
    background-color: #c1839f;
    color: black;
}

h2 {
    background-color: #087e8b;
}

a {
    text-decoration: none;
    font-weight: 800;
}

p {
    text-align: center;
    font-size: 24px;
}